services:
  api:
    image: ghcr.io/${GITHUB_USERNAME}/dai-todo-api:latest
    container_name: dai-todo-api
    restart: unless-stopped
    volumes:
      # Mount data.json for persistence
      - ./data:/app/data
    networks:
      - traefik_network
    labels:
      # Enable Traefik for this container
      - traefik.enable=true
      
      # Router configuration for the API
      - traefik.http.routers.api.rule=Host(`${APP_FQDN}`)
      - traefik.http.routers.api.entrypoints=https
      
      # Service configuration (target port 8080)
      - traefik.http.services.api.loadbalancer.server.port=8080

networks:
  traefik_network:
    name: traefik_network
    external: true
